<div class="px-0 md:px-6 lg:px-8 max-w-7xl mx-auto">
  <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">
    <app-card title="Nombre" *ngIf="user.name">
      <p>{{ user.name }}</p>
    </app-card>

    <app-card title="Email" *ngIf="user.email">
      <p>{{ user.email }}</p>
    </app-card>

    <app-card title="Rol" *ngIf="user.role">
      <p>{{ user.role }}</p>
    </app-card>

    <app-card title="Teléfono" *ngIf="user.phone">
      <p>{{ user.phone }}</p>
    </app-card>

    <app-card title="Último ingreso" *ngIf="user.last_sign_in_at">
      <p>{{ user.last_sign_in_at | date:'short' }}</p>
    </app-card>

    <app-card title="Creado el" *ngIf="user.created_at">
      <p>{{ user.created_at | date:'short' }}</p>
    </app-card>

    <app-card title="Actualizado el" *ngIf="user.updated_at">
      <p>{{ user.updated_at | date:'short' }}</p>
    </app-card>
  </div>
</div>