<div class="w-full max-w-[1200px] mx-auto">
  <div class="overflow-x-auto rounded-lg shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <!-- Encabezado gris claro -->
      <thead class="bg-gray-100">
        <tr>
          <th *ngIf="selectable" class="px-4 py-2 text-gray-700 bg-gray-100">
            <input type="checkbox" [checked]="selectedItems.length === data.length" (change)="selectAll($event)">
          </th>
          <th *ngFor="let col of columns" class="text-left px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-100">
            {{ col }}
          </th>
          <th *ngIf="showActions" class="px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-100">Acciones</th>
        </tr>
      </thead>

      <!-- Cuerpo con celdas claras -->
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let item of paginatedData" class="bg-white hover:bg-gray-50">
          <td *ngIf="selectable" class="px-4 py-2 text-gray-700">
            <input type="checkbox" [checked]="isSelected(item)" (change)="toggleSelection(item)">
          </td>
          <td *ngFor="let key of getObjectKeys(item)" class="px-4 py-2 text-xs sm:text-sm text-gray-700">
            <ng-container *ngIf="isDateField(item[key]); else showText">
              {{ item[key] | formatDate }}
            </ng-container>
            <ng-template #showText>
              {{ item[key] }}
            </ng-template>
          </td>
          <td *ngIf="showActions" class="px-4 py-2">
            <button
              *ngFor="let action of actions"
              class="text-sm font-medium text-blue-600 hover:underline mr-2"
              (click)="onActionClick(action, item)">
              {{ action | titlecase }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
  <!-- Pagination -->
<div *ngIf="manualPagination" class="flex justify-between items-center mt-4">
  <div class="text-sm text-gray-600 dark:text-zinc-300">
    Página {{ currentPage }} de {{ totalPages }}
  </div>
  <div class="space-x-2">
    <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-3 py-1 bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-white rounded disabled:opacity-50">
      Anterior
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-3 py-1 bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-white rounded disabled:opacity-50">
      Siguiente
    </button>
  </div>
</div>