<div class="w-full max-w-6xl mx-auto">
  <div class="overflow-x-auto rounded-md shadow">
    <table class="min-w-[1000px] w-full divide-y divide-gray-200">
      <!-- Encabezado gris claro -->
      <thead class="bg-gray-100">
        <tr>
          <th *ngIf="selectable" class="px-4 py-2 text-gray-700 bg-gray-100">
            <input type="checkbox" [checked]="selectedItems.length === data.length" (change)="selectAll($event)">
          </th>
          <th *ngFor="let col of columns" class="text-left px-4 py-2 text-xs font-semibold text-gray-700 bg-gray-100">
            {{ columnLabels[col] || col }}
          </th>
          <th *ngIf="showActions" class="px-4 py-2 text-xs font-semibold text-gray-700 bg-gray-100">Acciones</th>
        </tr>
      </thead>

      <!-- Cuerpo con celdas claras -->
      <tbody class="divide-y divide-gray-200">
        <tr *ngFor="let item of paginatedData" class="bg-white hover:bg-gray-50">
          <td *ngIf="selectable" class="px-4 py-2 text-gray-700">
            <input type="checkbox" [checked]="isSelected(item)" (change)="toggleSelection(item)">
          </td>
          <td *ngFor="let col of columns" class="px-4 py-2 text-xs text-gray-700">
            <ng-container *ngIf="isDateField(item[col]); else showText">
              {{ item[col] | formatDate }}
            </ng-container>
            <ng-template #showText>
              {{ item[col] }}
            </ng-template>
          </td>
          <td *ngIf="showActions" class="px-4 py-2">
            <button
              *ngFor="let action of actions"
              class="mr-2"
              [ngClass]="{
                'text-red-600': action === 'delete',
                'text-blue-600': action === 'edit'
              }"
              (click)="onActionClick(action, item)">
              <span class="material-symbols-outlined icon-action"
                [attr.title]="action === 'edit' ? 'Editar' : action === 'delete' ? 'Eliminar' : action"
              >
                {{ action === 'edit' ? 'edit' : action === 'delete' ? 'delete' : action }}
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
  <!-- Pagination -->
<div *ngIf="manualPagination" class="w-full max-w-6xl mx-auto flex justify-between items-center mt-4">
  <div class="text-xs text-gray-600 dark:text-zinc-300">
    Página {{ currentPage }} de {{ totalPages }}
  </div>
    <div class="space-x-2">
      <button
      (click)="changePage(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="px-2 py-1 text-xs bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-white rounded disabled:opacity-50"
    >
      Anterior
    </button>
    <button
      (click)="changePage(currentPage + 1)"
      [disabled]="currentPage === totalPages"
      class="px-2 py-1 text-xs bg-gray-200 dark:bg-zinc-800 text-gray-800 dark:text-white rounded disabled:opacity-50"
    >
      Siguiente
    </button>
  </div>
</div>