.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(96, 96, 96, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  padding: 1.7rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  width: 350px;
  max-width: 90%;
  position: relative;
}

@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.pop-up-animation {
  animation: pop-up 0.3s ease-out;
}


.modal-content p{
  font-size: 1rem;
  color: black;
}

.error-modal {
  background-color: #ffdcd9;
}

.error-modal p {
  color: #b91c1c;
}

.success-modal {
  background-color: #e1fff1;
}

.success-modal p {
  color: #059669;
}

.success-icon {
  font-size: 1.4rem;
  color: #059669;
  margin-bottom: 1rem;
}

.info-modal {
  background-color: #eff6ff;
  color: #2563eb; 
}

.question-icon {
  font-size: 1.4rem;
  color: #2563eb;
  margin-bottom: 1rem;
}

.error-icon {
  font-size: 1.4rem;
  color: #b91c1c;
  margin-bottom: .7rem;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;  
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600; 
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
}

.cancel-button {
  background-color: #6f42c1;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.cancel-button:hover {
  background-color: #6c35d2;
}

.confirm-button {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  transition: background-color 0.3s ease-in-out;
}

.confirm-button:hover {
  background-color: #0056b3;
}


