<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content" [ngClass]="{
             'error-modal': isError, 
             'shake-animation': shake && isError, 
             'pop-up-animation': !isError,
             'success-modal': isSuccess,
             'info-modal': isInfo  }">

    <i *ngIf="isError" class="fas fa-exclamation-circle error-icon"></i>
    <i *ngIf="isSuccess" class="fas fa-check-circle success-icon"></i>
    <i *ngIf="isInfo" class="fas fa-question-circle question-icon"></i>

    <p>{{ message }}</p>

    <div class="modal-buttons" *ngIf="showButtons">
      <button class="button confirm-button" (click)="confirm()">Aceptar</button>
      <button class="button cancel-button" (click)="close.emit()">Cancelar</button>
    </div>
  </div>
</div>