<div class="pt-10 p-3 md:p-6">
  <h1 class="text-2xl font-bold text-center mb-6">Mis Contactos</h1>

  <div class="max-w-6xl mx-auto">
    <button
      class="mb-4 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium py-2 px-4 rounded transition"
      (click)="openAddModal()"
    >
      + Nuevo contacto
    </button>
  </div>

  <app-contacts-table
    [contacts]="contacts"
    (actionClicked)="onTableAction($event)"
  ></app-contacts-table>

  <app-contact-modal
    [visible]="showModal"
    [contactToEdit]="contactToEdit"
    (close)="closeModal()"
    (submit)="handleCreateContact($event)"
  ></app-contact-modal>
</div>