
  <!-- Sidebar -->
  <div
    class="sidebar"
    [class.closed]="isSidebarClosed"
    (mouseleave)="closeSidebar($event)"
    (mouseover)="openSidebar($event)"
  >
  
    <!-- Logo y usuario -->
    <div class="logo-user-container">
      <div class="logo-container">
        <img src="/favicon.ico" alt="Logo" />
      </div>
      <div class="user-info" *ngIf="!isSidebarClosed && (userData$ | async) as user">
        <h2 class="hello-text">Hola,</h2>
        <p class="user-name">{{ user.name || 'Usuario' }}</p>
      </div>
    </div>
  
    <!-- Navegación -->
  <div class="nav-section">
    <!-- Enlaces directos -->
    <div
      class="nav-item"
      *ngFor="let item of navItems"
      [class.active]="isActive(item.route)"
    >
      <a [routerLink]="item.route">
        <span class="material-symbols-outlined nav-icon">{{ item.icon }}</span>
        <span class="link-text">{{ item.text }}</span>
      </a>
    </div>

    <!-- Categorías con dropdown -->
    <div class="nav-group" *ngFor="let category of navCategories">
      <div
        class="category-header"
        [class.closed]="isSidebarClosed"
        (click)="toggleCategory(category.title)"
        [class.collapsed]="!categoryStates[category.title]"
        [class.active]="currentRoute.includes(category.baseRoute)"
      >
        <span class="material-symbols-outlined nav-icon">{{ category.icon }}</span>
        <span class="title-text">{{ category.title }}</span>
        <i class="fas fa-chevron-down chevron-icon"></i>
      </div>

      <ul *ngIf="categoryStates[category.title]" class="group-list">
        <li *ngFor="let child of category.children">
          <a [routerLink]="child.route">
            <span class="link-text">{{ child.text }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Logout -->
  <div class="logout">
      <a (click)="logout()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
          <span class="link-text">Salir</span>
      </a>
  </div>
  
  <!-- Flecha -->
  <div
    class="arrow-icon"
    *ngIf="isSidebarClosed"
    (click)="openSidebar($event)"
  >
    <i class="fas fa-chevron-right"></i>
  </div>