@import "tailwindcss";


.main-content {
    padding-left: 80px; 
    min-height: 100vh;
    transition: padding-left 0.7s ease;
  }

  @media (max-width: 768px) {
    .main-content {
      padding-left: 0px; 
    }
  }