@import "tailwindcss";

.main-content {
    padding-left: 60px; 
    min-height: 100vh;
    transition: padding-left 0.7s ease;
  }

  @keyframes slide-up {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
  }

  @media (max-width: 768px) {
    .main-content {
      padding-left: 0px; 
    }
  }