@import "tailwindcss";

.main-content {
    padding-left: 60px; 
    min-height: 100vh;
    transition: padding-left 0.7s ease;
  }

.icon-action {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 300, 
    'GRAD' 0, 
    'opsz' 24;
  font-size: 18px;
  transition: font-variation-settings 0.3s ease;
  vertical-align: middle;
}

.icon-action:hover {
  font-variation-settings: 
    'FILL' 0, 
    'wght' 500, 
    'GRAD' 0, 
    'opsz' 24;
}

  @keyframes slide-up {
    from {
      transform: translateY(40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slide-up {
    animation: slide-up 0.3s ease-out forwards;
  }

  @media (max-width: 768px) {
    .main-content {
      padding-left: 0px; 
    }
  }